<header class="site-header">
  <div class="header__group">
    <div class="header__logo">
      <img src="images/logo.svg" alt="YOU TALK" width="51" height="36" />
    </div>
    <nav class="header__nav" aria-label="Основное меню">
      <ul class="nav__list">
        <li><a href="#" class="nav__link">О нас</a></li>
        <li><a href="#" class="nav__link">Тарифы</a></li>
        <li><a href="#" class="nav__link">Для бизнеса</a></li>
        <li><a href="#" class="nav__link">Психологам</a></li>
        <li><a href="#" class="nav__link">Сертификат</a></li>
        <li class="nav__item nav__item--dropdown">
          <a href="#" class="nav__link">Материалы</a>
          <span class="nav__arrow"></span>
        </li>
        <li><a href="#" class="nav__link">FAQ</a></li>
      </ul>
    </nav>
  </div>
  <button class="header__button">Подобрать психолога</button>
</header>
